:root {
    --red : rgba(255, 0, 0, 1);
    --orange: rgba(255, 166, 0, 1);
    --alpha-orange: rgba(255, 166, 0, .8);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

body {
    position: relative;
    margin: 0;
}
header {
    display: grid;
    background-color: orange;
}

html {
    text-align: center;
    font-family: 'DM Sans', Helvetica, Arial, sans-serif;
}

/*
====================================================
----------- HEADER AND HERO SECTION ----------------
====================================================
*/
.hero, .header__ul {
    display: flex;
    align-items: center;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
}
.header_logo img {
    height: 45px;
}

.header__nav {
    display: block;
    background-color:  orange;
}

.header__ul {
    justify-content: center;
    list-style: none;
}

.header__ul a {
    background-color: orange;
    float: right;
    text-align: center;
    font-size: 18px;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
    border-radius: 40px;
    transition: background .2s ease-in, color .2s ease-in;
}

.header__ul a:hover {
    background-color: rgb(155, 155, 155);
    color: white;
    margin: 10px 5px;
    padding: 5px 15px;
}

.header__ul a.paginactiva {
    color: black;
    background-color: white;
    margin: 10px 20px;
    padding: 5px 15px;
    border-radius: 40px;
}

.hero {
    flex-direction: column;
    height: 75vh;
    background-color: orange;
}

.hero__img {
    margin-top: auto;
    object-fit: contain;
    height: 370px;
    width: 470px;
}

.hero__h1 {
    margin-top: auto;
    transform: translateY(35px);
    padding: 5px 10px;
    background-color: #fff;
    box-shadow: 0px 3px 10px #000;
}

/*
====================================================
---------------- FORMS SECTION --------------------
====================================================
*/




#signin_form {
    width: 500px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    border-radius: 20px;
    text-align: left;
    border: 1px solid #000;
    box-shadow: 0px 0px 10px rgb(77, 77, 77);
    line-height: 2;
}

#signin_form h2 {
    line-height: 0;
}

#signin_form div {
    text-align: center;
}

#signin_form img {
    height: 150px;
    margin-bottom: 100px;
}


#signin_form input[type=email] {
    width: 100%;
    background-color: none;
 /* background-image: url(../assets/imgs/email.png); 
    background-size: 4px;
    background-position: 20px 0px;
    background-repeat: no-repeat; marico intente ponerle iconos a la vaina y no sirve pipipi, por ahora lo dejo así */
    padding: 12px 4px;
    box-sizing: border-box;
    margin-bottom: 40px;
    border: 2px solid rgb(78, 78, 78);
    border-radius: 8px;
    
}

#signin_form input[type=password] {
    width: 100%;
    background-color: none;
    padding: 12px 4px;
    box-sizing: border-box;
    margin-bottom: 40px;
    border: 2px solid rgb(78, 78, 78);
    border-radius: 8px;
    
}

#signin_form input[type=submit] {
    width: 100%;
    padding: 16px 32px;
    background-color: orange;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s;


}


#signin_form input[type=submit]:hover {
    background-color: rgb(182, 118, 0);
    font-weight: 600;
}

/*
====================================================
---------------- ERRORS SECTION --------------------
====================================================
*/

.errors {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.errors__error {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    border-radius: 30px;
    width: 85%;
    max-width: 800px;
    background-color: var(--alpha-orange);
    border: 2px solid #000;
}

.errors__p {
    text-align: left;
}

.errors__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 5px;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color .1s ease-in, color .1s ease-in;
}

.errors__btn:hover {
    cursor: pointer;
    background-color: var(--red);
    color: #fff;
}

.errors__btn i {
    font-size: 25px;
}







.nuevoparrafo {
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 300px;
}

#encabezado {
    display: flex;
    justify-content: center;

    background-color: orange;

}
