<!DOCTYPE html>
<html lang="es">  
<head>
    <title>Tu Agenda</title>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="Tu Agenda">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aqui encontraras una agenda digital que te ayudara en tu dia a dia">
    <link href="/assets/css/normalize.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
</head>  
<body>
    <header class="header">
        <a class="header_logo" href="/"><img src="../assets/imgs/omnitasks_header.png"></a>
        <nav class="header__nav">
            <ul class="header__ul" id="header-ul"></ul>
        </nav>
    </header>
    <h1>Error 404</h1>
    <p class="nuevoparrafo">Upps. Parece ser que no somos capaces de encontrar la pagina a al que querias ir, por favor, verifique la url.</p>
    <script src="../assets/js/index.js" type="module"></script>
</body> 
</html>
