<!DOCTYPE html>
<html lang="es">  
<head>
    <title>Tu Agenda</title>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="Tu Agenda">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aqui encontraras una agenda digital que te ayudara en tu dia a dia">
    <link rel="icon" type="image/x-icon" href="/assets/imgs/favicon.ico">
    <link href="../assets/css/normalize.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    <link href="../assets/css/styles.css" rel="stylesheet">
</head>  
<body>
    <header class="header">
        <a class="header_logo" href="/"><img src="../assets/imgs/omnitasks_header.png"></a>
        <nav class="header__nav">
            <ul class="header__ul" id="header-ul">
                <li><a class="paginactiva" href="index.html">Inicio</a></li>
                <li><a href="../user/sign_in.html">Iniciar sesión</a></li>
                <li><a href="../user/sign_up.html">Registrarse</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <img class="hero__img" src="../assets/imgs/omnitaskvector.png">
        <h1 class="hero__h1">Empieza una vida de buenos hábitos</h1>
    </section>
    <main class="main">
    <section>
        <article>
            <p class="nuevoparrafo">¿Te sientes abrumado por las tareas? ¿Cansado de perder tiempo buscando información y olvidando plazos importantes?</p>
            <p class="nuevoparrafo">Omnitasks es la solución que necesitas. Nuestra plataforma de gestión de tareas te ayuda a organizar tu trabajo, aumentar tu productividad y alcanzar tus objetivos con mayor facilidad.</p>
        </article>
        <article>
            <h2>Planes que se adecúan a tus <span id="necesidades">necesidades</span></h2>
            <div id="index-plans">
                <div>
                    <h3>Basic</h3>
                    <ul>
                        <li>Notificaciones los 7 días de la semana</li>
                        <li>Notificaciones de un solo uso</li>
                        <li>Temporizador y cronómetro</li>
                    </ul>
                </div>
                <div><h3>Premium</h3>
                    <ul>
                        <li>Notificaciones los 7 días de la semana</li>
                        <li>Notificaciones de un solo uso</li>
                        <li>Temporizador y cronómetro</li>
                        <li>Capacidad para fijar sub tareas dentro de cada tarea</li>
                    </ul>
                </div>
            </div>
        </article><br><br>
        <article>
            <h2>¿Listo para empezar a trabajar de forma inteligente?</h2>
            <p class="nuevoparrafo">Omnitasks es la herramienta perfecta para: Estudiantes, profesionales independientes, freelancers, emprendedores y cualquier persona que quiera mejorar su organización personal.</p>
        </article>
        <article>
            <h2>¡No te pierdas esta oportunidad de mejorar tu productividad y transformar tu forma de trabajar!</h2>
        </article><br><br>
    </section>
    </main>
    <script src="../assets/js/index.js" type="module"></script>
</body> 
</html>
