<!DOCTYPE html>
<html lang="es">  
<head>
    <title>Tu Agenda</title>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="Tu Agenda">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aqui encontraras una agenda digital que te ayudara en tu dia a dia">
    <link href="/assets/css/normalize.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    <link href="../assets/css/pruebacss.css" rel="stylesheet">
</head>  
<body>
    <header>
        <div>
        <nav class="cimanavegacion">
            <a href="sign_in.html">Iniciar sesión</a>
            <a href="sign_up.html">Registrarse</a>
        </nav>
        </div>
        <div id="encabezado">
        <img id="logo" src="../assets/imgs/omnitasksplaceholder.png">
        </div>
    </header>
    <h1>Empieza una vida de buenos hábitos</h1>
    <p class="nuevoparrafo">Somos una plataforma de gestión de horarios y tareas que te ayudara a mantenerte enfocado en tus actividades y mas importante, ayudarte a formarlos como hábitos</p>

</body> 
</html>
