<!DOCTYPE html>
<html lang="es">  
<head>
    <title>Tu Agenda</title>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="Tu Agenda">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aqui encontraras una agenda digital que te ayudara en tu dia a dia">
    <link href="/assets/css/normalize.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    <link href="../assets/css/styles.css" rel="stylesheet">
</head>  
<body>
    <header class="header">
        <div class="header_logo"><img src="../assets/imgs/omnitasks_header.png"></div>
        <nav class="header__nav">
            <ul class="header__ul">
                <li><a class="paginactiva" href="/">Inicio</a></li>
                <li><a href="/user/sign_in">Iniciar sesión</a></li>
                <li><a href="/user/sign_up">Registrarse</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <img class="hero__img" src="../assets/imgs/omnitaskvector.png">
        <h1 class="hero__h1">Empieza una vida de buenos hábitos</h1>
    </section>
    <main class="main">
        <p class="nuevoparrafo">Somos una plataforma de gestión de horarios y tareas que te ayudara a mantenerte enfocado en tus actividades y mas importante, ayudarte a formarlos como hábitos</p>
    </main>
</body> 
</html>
