<!DOCTYPE html>
<html lang="es">  
<head>
    <title>Tu Agenda</title>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="Tu Agenda">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aqui encontraras una agenda digital que te ayudara en tu dia a dia">
    <link href="../assets/css/normalize.css" rel="stylesheet">
    <link href="../assets/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5a47573fb9.js" crossorigin="anonymous"></script>
</head>  
<body>
    <header class="header">
        <a class="header_logo" href="/"><img src="../assets/imgs/omnitasks_header.png"></a>
        <nav class="header__nav">
            <ul class="header__ul" id="header-ul"></ul>
        </nav>
    </header>
    <div class="errors" id="errors_place"></div>
    <main>
        <form class="form" id="signin_form" action="/user/sign_in" method="POST">
            <div>
            <h1>Ingresa en tu cuenta!</h1>
            <img src="../assets/imgs/relojsito.png" alt="Logo de omnitasks"> <br>
            </div>
            <label class="form__label">
            Email:
            <div class="form__input--container">
                <i class="fa-regular fa-envelope"></i>
                <input class="form__input" type="email" name="email" placeholder="ejemplo@gmail.com">
            </div>
            </label>
            <label class="form__label">
            Password:
            <div class="form__input--container">
                <i class="fa-solid fa-lock"></i>
                <input class="form__input" type="password" name="password" placeholder="************">
            </div>
            </label>
            <input type="submit" value="Enviar">
        </form>
    </main>
    <script src="../assets/js/sign_in.js" type="module"></script>
</body> 
</html>
