<!DOCTYPE html>
<html lang="es">  
<head>
    <title>Tu Agenda</title>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="Tu Agenda">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aqui encontraras una agenda digital que te ayudara en tu dia a dia">
    <link href="/assets/css/normalize.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>  
<body>
    <div>
       <h4>{{error}}</h4>
    </div>
 
    <h1>Aqui estara el sign_up (mockup usado para tests)</h1>
    <form action="/users/sign_up" id="signup_form" method="POST">
        <label>
        Name:
        <input type="text" name="name" placeholder="Pepito Perez">
        </label>
        <br><br>
        <label>
        Email:
        <input type="email" name="email" placeholder="ejemplo@gmail.com">
        </label>
        <br><br>
        <div>
            <h3>Plan</h3>
            <label>
            Premium:
            <input type="radio" name="premium" checked id="premium-btn" value="true">
            </label>
            <label>
            Basic:
            <input type="radio" name="premium" id="basic-btn" value="false">
            </label>
            <div id="paymethod-div" class="visible">
                <h3>Metodo de pago</h3>
                <label>
                Paypal:
                <input type="radio" name="pay_method" checked value="paypal">
                </label>
                <label>
                Debit card:
                <input type="radio" name="pay_method" value="debit_card">
                </label>
                <label>
                Credit Card:
                <input type="radio" name="pay_method" value="credit_card">
                </label>
            </div>
        </div>
        <br>
        <label>
        Password:
        <input type="password" name="password" placeholder="*********">
        </label>
        <br><br>
        <input type="submit" value="Enviar">
    </form>
    <script>
        const premium_btn = document.getElementById("premium-btn");
        const basic_btn = document.getElementById("basic-btn");
        const paymethod_div = document.getElementById("paymethod-div");

        const changeClasses = (elemt, class_remove, class_add) => {
            elemt.classList.remove(class_remove);
            elemt.classList.add(class_add);
        };

        premium_btn.addEventListener("change", () => changeClasses(paymethod_div, "hidden", "visible"));
        basic_btn.addEventListener("change", () => changeClasses(paymethod_div, "visible", "hidden"));

        const form = document.getElementById("signup_form");
        form.addEventListener("submit", e => {
            e.preventDefault();
            const data = Object.fromEntries(new FormData(form));
            const options = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            };

            fetch("/users/sign_up", options)
                .then(res => res.json())
                .then(json => {
                    if (!json["ok"]) return;
                    const account_data = {
                        token: json["token"],
                        id: json["id"],
                        name: json["name"]
                    };

                    localStorage.setItem("account_data", JSON.stringify(account_data));
                    window.location.href = json["next_url"];
                })
        });
    </script>
</body> 
</html>
