<!DOCTYPE html>
<html lang="es">  
<head>
    <title>Tu Agenda</title>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="Tu Agenda">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aqui encontraras una agenda digital que te ayudara en tu dia a dia">
    <link rel="icon" type="image/x-icon" href="/assets/imgs/favicon.ico">
    <link href="/assets/css/normalize.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5a47573fb9.js" crossorigin="anonymous"></script>
</head>  
<body>
    <header class="header">
        <a class="header_logo" href="/"><img src="../assets/imgs/omnitasks_header.png"></a>
        <nav class="header__nav">
            <ul class="header__ul" id="header-ul"></ul>
        </nav>
    </header>
    <div class="errors" id="errors_place"></div>
    <div class="modal--container hidden" id="modal-permision">
        <div class="modal">
            <button id="modal-btn-close" class="modal__btn--close"><i class="fa-solid fa-xmark"></i></button>
            <h3 class="modal__h3">¡Dejanos ayudarte!</h3>
            <p class="modal__p">Para que te sea más fácil cumplir con tus objetivos y alcanzar los habitos que tanto deseas, dejanos mandarte notificaciones, de esa manera nunca olvidaras tus objetivos ni tus metas. Dejandonos notificarte, !allanas el camino al exito¡</p>
            <button class="modal__btn" id="modal-btn">Pulsa para permitir notificaciones</button>
        </div>
    </div>
    <main>
        <h1>¡Tu puedes! Empieza con tus tareas diarias</h1>
        <section class="addtasks">
            <h3 class="addtasks__h3">Añade mas tareas si deseas</h3>
            <form class="addtasks__form" id="addtask-form" action="/user/tasks/new" method="POST">
                <label class="addtask__label title">
                Titulo:
                <input required maxlength="50" class="addtasks__input" type="text" name="title">
                </label>
                <label class="addtask__label description">
                Descripcion:
                <textarea rows="2" cols="40" required maxlength="200" class="addtasks__textarea" name="description"></textarea>
                </label>
                <label class="addtask__label start">
                <span>Fecha de inicio:</span>
                <input required class="addtasks__input" type="datetime-local" name="datetime_start">
                </label>
                <label class="addtask__label finish">
                <span>Fecha de fin:</span>
                <input required class="addtasks__input" type="datetime-local" name="datetime_finish">
                </label>
                <button class="addtasks__submit"><i class="fa-solid fa-plus"></i><span>Añadir tarea</span></button>
            </form>
        </section>
        <section id="tasks-section" class="tasksplace">
            <h2 class="tasksplace__h2">Tareas:</h2>
        </section>
    </main>
    <script src="/assets/js/tasks.js" type="module"></script>
</body> 
</html>
