<!DOCTYPE html>
<html lang="es">  
<head>
    <title>Tu Agenda</title>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="Tu Agenda">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aqui encontraras una agenda digital que te ayudara en tu dia a dia">
    <link href="/assets/css/normalize.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>  
<body>
    <h1>Aqui estaran las opciones del usuario</h1>
</body> 
</html>
