<!DOCTYPE html>
<html lang="es">

<head>
    <title>Tu Agenda</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="Tu Agenda">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aqui encontraras una agenda digital que te ayudara en tu dia a dia">
    <link href="../assets/css/normalize.css" rel="stylesheet">
    <link href="../assets/css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5a47573fb9.js" crossorigin="anonymous"></script>
</head>
<body class="bsigns">
    <header class="header">
        <a class="header_logo" href="/"><img src="../assets/imgs/omnitasks_header.png"></a>
        <nav class="header__nav">
            <ul class="header__ul" id="header-ul"></ul>
        </nav>
    </header>
    <div class="errors" id="errors_place"></div>
    <form action="/users/sign_up" id="signup_form" method="POST">
        <div>
            <h1>Crea una nueva cuenta</h1>
            <img src="../assets/imgs/relojsito.png" alt="Logo de omnitasks"> <br>
        </div>
        <label>
            <h2>Name:</h2> <br>
            <div class="input-icons3">
                <i class="fa-solid fa-file-signature fa-xl"></i>
                <input required type="text" name="name" maxlength="30" minlength="3" placeholder="Pepito Perez">
            </div>
        </label>
        <br>
        <label>
            <h2>Email:</h2> <br>
            <div class="input-icons4">
                <i class="fa fa-envelope-o fa-xl" aria-hidden="true"></i>
                <input required type="email" maxlength="100" name="email" placeholder="ejemplo@gmail.com">
            </div>
        </label>
        <br>
        <div>
            <h2>Plan</h2> <br>
            <label class="plan">
                <strong>Premium</strong>:
                <input required type="radio" name="premium" checked id="premium-btn" value="true">
            </label>
            <label class="plan">
                <strong>Basic</strong>:
                <input required type="radio" name="premium" id="basic-btn" value="false">
            </label>
            <div id="paymethod-div" class="visible"> <br>
                <h2>Metodo de pago</h2> <br>
                <label class="m_pago">
                    <strong>Paypal</strong>:
                    <input required type="radio" name="pay_method" checked value="paypal">
                </label>
                <label class="m_pago">
                    <strong>Debit card</strong>:
                    <input required type="radio" name="pay_method" value="debit_card">
                </label>
                <label class="m_pago">
                    <strong>Credit Card<strong>:
                    <input required type="radio" name="pay_method" value="credit_card">
                </label>
            </div>
        </div>
        <br>
        <label>
            <h2>Password:</h2> <br>
            <div class="input-icons5">
                <i class="fa fa-key fa-xl" aria-hidden="true"></i>
                <input required type="password" maxlength="40" minlength="7" name="password" placeholder="*********">
            </div>
        </label>
        <br>
        <input type="submit" value="Enviar">
    </form>
    <script src="../assets/js/sign_up.js" type="module"></script>
</body>
</html>
